Flask==0.10.1
Jinja2==2.7.2
MarkupSafe==0.23
Pillow==2.4.0
Werkzeug==0.9.4
argparse==1.2.1
command-not-found==0.2.44
distribute==0.7.3
itsdangerous==0.24
language-selector==0.1
python-apt==0.8.3ubuntu7
python-debian==0.1.21ubuntu1
ufw==0.31.1-1
wsgiref==0.1.2